.banner {
    width: 100%;
    height: 30vh;
    background-color: #3498db;
    padding: 150px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.banner-text {
    color: white;
    font-size: 140px;
    font-family: Arial, sans-serif;
    margin: 1px;
}

.small-box {
    width: 100%;
    height: 50px;
    background-color: #316da9;
    border-radius: 10px;
    align-content: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.small-box:hover {
    background-color: #4e8ecd;
    
    
}

.dex {
    text-decoration: none;
}

.HEHE {
    margin-top: 10%;
    padding: 0px;
    border: black 1px;
    border-style: solid;
}